.bigboxP {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.box {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.icon > img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.icon {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 10px;
  width: 100px;
}
